{% autoescape off %}
Bonjour,

Une demande de récupération de mot de passe associée au compte « {{ user.get_username }} » a été effectuée.
Si vous avez bel et bien demandé ce changement, vous pouvez continuer la procédure en suivant le lien suivant :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si vous n'avez fait aucune demande, veuillez nous excuser pour le dérangement et ne prenez pas compte de ce message.

Merci d'utiliser notre site !

Bien à vous,
Desausoi Laurent
{% endautoescape %}
