{% extends 'index.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Home</a>
  </li>
  <li class="breadcrumb-item ">Banque</li>
  <li class="breadcrumb-item active">Graphiques des transactions</li>
</ol>
{% endblock%}

{% block content %}
<h1> Graphiques des soldes </h1>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Status des comptes</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
  </div></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'horizontalBar',
  data: {
    labels: {{names|safe}},
    datasets: [{
      lineTension: 0.3,
      backgroundColor: {{colors|safe}},
      borderColor: "rgba(2,117,216,1)",
      data: {{status}},
    },],
  },
  options: {
    legend: {
        display: false,
    }
  }
});


</script>
{% endblock%}
