{% extends 'index.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Home</a>
  </li>
  <li class="breadcrumb-item ">Banque</li>
  <li class="breadcrumb-item active">Graphiques des transactions</li>
</ol>
{% endblock%}

{% block content %}
<h1> Graphiques des soldes </h1>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Solde des 30 derniers jours</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
  </div></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{data.label|safe}},
    datasets: [{
      label: "Solde personnel",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      data: {{data.value1}},
    },
    {
      label: "Solde du kot",
      lineTension: 0.3,
      backgroundColor: "rgba(221,109,109,0.2)",
      borderColor: "rgba(221,109,109,0.2)",
      data: {{data.value2}},
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
  }
});


</script>
{% endblock%}