{% extends 'index.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Home</a>
  </li>
  <li class="breadcrumb-item ">Banque</li>
  <li class="breadcrumb-item active">Historique des transactions</li>
</ol>
{% endblock%}

{% block content %}
<h1>Historique de vos transactions </h1>
{% if user.balance < 0 %}
<div class="alert alert-danger" role="alert">
{% else %}
<div class="alert alert-info" role="alert">
{% endif %}
  Le solde de votre compte est de {{user.balance}}€
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Ajouté par</th>
      <th scope="col">Montant</th>
    </tr>
  </thead>
  <tbody>
  	{% for t in listOfTransactions %}
    <tr>
      <td>{{t.expense.date_to_string}}</td>
      <td>{{t.expense.description}}</td>
      <td>{{t.expense.added_by}}</td>
      {% if t.positive %}
        <td style="color:green">+{{t.cost}}</td>
      {% else %}
        <td style="color:red">-{{t.cost}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}