{% extends 'index.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Home</a>
  </li>
  <li class="breadcrumb-item ">Banque</li>
  <li class="breadcrumb-item active">Historique des transactions</li>
</ol>
{% endblock%}

{% block content %}
<h1>Historique de vos transactions </h1>
{% if user.balance < 0 %}
<div class="alert alert-danger" role="alert">
{% else %}
<div class="alert alert-info" role="alert">
{% endif %}
  Le solde de votre compte est de {{user.balance}}€
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Ajouté par</th>
      <th scope="col">Montant</th>
    </tr>
  </thead>
  <tbody>
  	{% for t in listOfTransactions %}
    <tr>
      <td>{{t.expense.date_to_string}}</td>
      <td>{{t.expense.description}}</td>
      <td>{{t.expense.added_by}}</td>
      {% if t.positive %}
        <td style="color:green">+{{t.cost}}</td>
      {% else %}
        <td style="color:red">-{{t.cost}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Solde des 30 derniers jours</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
  </div></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{datelabel|safe}},
    datasets: [{
      label: "Solde du compte",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: {{data}},
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

</script>
{% endblock%}