{% extends 'index.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Home</a>
  </li>
  <li class="breadcrumb-item ">Banque</li>
  <li class="breadcrumb-item active">Historique des transactions</li>
</ol>
{% endblock%}

{% block content %}
<h1>Historique de vos transactions </h1>
{% if user.balance < 0 %}
<div class="alert alert-danger" role="alert">
{% else %}
<div class="alert alert-info" role="alert">
{% endif %}
  Le solde de votre compte est de {{user.balance}}€
</div>
<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Ajouté par</th>
        <th scope="col">Montant</th>
      </tr>
    </thead>
    <tbody>
    	{% for t in transactions %}
      <tr>
        <td>{{t.expense.date_to_string}}</td>
        <td>{{t.expense.description}}</td>
        <td>{{t.expense.added_by}}</td>
        {% if t.positive %}
          <td style="color:green">+{{t.cost}}</td>
        {% else %}
          <td style="color:red">-{{t.cost}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        {% if transactions.has_previous %}
            <a class="btn btn-primary" role="button"href="?page=1">&laquo; first</a>
            <a class="btn btn-primary" role="button"href="?page={{ transactions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transactions.number }} sur {{ transactions.paginator.num_pages }}
        </span>

        {% if transactions.has_next %}
            <a class="btn btn-primary" role="button" href="?page={{ transactions.next_page_number }}">next</a>
            <a class="btn btn-primary" role="button"href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

