<ul class="sidebar navbar-nav">
	<li class="nav-item dropdown show {{bank_page}}">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fab fa-fw fa-bitcoin"></i>
            <span>Banque</span>
          </a>
          <div class="dropdown-menu show" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
            <a class="dropdown-item" href="{% url 'bank:add_ticket' %}">Ajouter un ticket</a>
          </div>
        </li>
</ul>